<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagacity.mapper.PmsCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sagacity.entity.PmsComment">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="member_nick_name" property="memberNickName" />
        <result column="product_name" property="productName" />
        <result column="star" property="star" />
        <result column="member_ip" property="memberIp" />
        <result column="create_time" property="createTime" />
        <result column="show_status" property="showStatus" />
        <result column="product_attribute" property="productAttribute" />
        <result column="collect_couont" property="collectCouont" />
        <result column="read_count" property="readCount" />
        <result column="content" property="content" />
        <result column="pics" property="pics" />
        <result column="member_icon" property="memberIcon" />
        <result column="replay_count" property="replayCount" />
    </resultMap>

    <!-- 表名称 -->
    <sql id="Table_Name">
        pms_comment
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, member_nick_name, product_name, star, member_ip, create_time, show_status, product_attribute, collect_couont, read_count, content, pics, member_icon, replay_count
    </sql>

    <sql id="Where_Trim">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="productId != null">
                AND product_id = #{productId}
            </if>
            <if test="memberNickName != null and memberNickName != ''">
                AND member_nick_name = #{memberNickName}
            </if>
            <if test="productName != null and productName != ''">
                AND product_name = #{productName}
            </if>
            <if test="star != null">
                AND star = #{star}
            </if>
            <if test="memberIp != null and memberIp != ''">
                AND member_ip = #{memberIp}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="showStatus != null">
                AND show_status = #{showStatus}
            </if>
            <if test="productAttribute != null and productAttribute != ''">
                AND product_attribute = #{productAttribute}
            </if>
            <if test="collectCouont != null">
                AND collect_couont = #{collectCouont}
            </if>
            <if test="readCount != null">
                AND read_count = #{readCount}
            </if>
            <if test="content != null">
                AND content = #{content}
            </if>
            <if test="pics != null and pics != ''">
                AND pics = #{pics}
            </if>
            <if test="memberIcon != null and memberIcon != ''">
                AND member_icon = #{memberIcon}
            </if>
            <if test="replayCount != null">
                AND replay_count = #{replayCount}
            </if>
        </trim>
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" parameterType="com.sagacity.entity.PmsComment">
        INSERT INTO <include refid="Table_Name" />(
        <trim suffixOverrides=",">
                id,
                product_id,
                member_nick_name,
                product_name,
                star,
                member_ip,
                create_time,
                show_status,
                product_attribute,
                collect_couont,
                read_count,
                content,
                pics,
                member_icon,
                replay_count,
        </trim>
        ) VALUE (
        <trim suffixOverrides=",">
                #{id},
                #{productId},
                #{memberNickName},
                #{productName},
                #{star},
                #{memberIp},
                #{createTime},
                #{showStatus},
                #{productAttribute},
                #{collectCouont},
                #{readCount},
                #{content},
                #{pics},
                #{memberIcon},
                #{replayCount},
        </trim>
        )
    </insert>

    <!-- 列表查询 -->
    <select id="selectList" resultMap="BaseResultMap" parameterType="com.sagacity.entity.PmsComment">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询条数 -->
    <select id="selectCount" parameterType="com.sagacity.entity.PmsComment" resultType="long">
        SELECT
            COUNT(*)
        FROM
        <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询符合条件的单条数据 -->
    <select id="selectOne" parameterType="com.sagacity.entity.PmsComment" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
        LIMIT 1
    </select>

    <!-- 通过ID批量查询 -->
    <select id="selectBatchIds" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <foreach item="id" index="index" collection="idList"
                 open="WHERE id in (" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 通过主键ID查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        WHERE id = #{id}
    </select>

    <!-- 通过主键ID选择更新数据 -->
    <update id="updateById" parameterType="com.sagacity.entity.PmsComment">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
             <if test="productId != null">
                product_id = #{productId},
            </if>
             <if test="memberNickName != null and memberNickName != ''">
                member_nick_name = #{memberNickName},
            </if>
             <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
             <if test="star != null">
                star = #{star},
            </if>
             <if test="memberIp != null and memberIp != ''">
                member_ip = #{memberIp},
            </if>
             <if test="createTime != null">
                create_time = #{createTime},
            </if>
             <if test="showStatus != null">
                show_status = #{showStatus},
            </if>
             <if test="productAttribute != null and productAttribute != ''">
                product_attribute = #{productAttribute},
            </if>
             <if test="collectCouont != null">
                collect_couont = #{collectCouont},
            </if>
             <if test="readCount != null">
                read_count = #{readCount},
            </if>
             <if test="content != null">
                content = #{content},
            </if>
             <if test="pics != null and pics != ''">
                pics = #{pics},
            </if>
             <if test="memberIcon != null and memberIcon != ''">
                member_icon = #{memberIcon},
            </if>
             <if test="replayCount != null">
                replay_count = #{replayCount},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 根据ID逻辑删除 -->
    <update id="disable" parameterType="com.sagacity.entity.PmsComment">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="traceId != null and traceId != ''">
                trace_id = #{traceId},
            </if>
            <if test="modifyBy != null and modifyBy != ''">
                modify_by = #{modifyBy},
            </if>
            <if test="activeFlag != null">
                active_flag = #{activeFlag},
            </if>
        </trim>
        WHERE id = #{id}
    </update>





</mapper>
