<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagacity.mapper.PmsProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sagacity.entity.PmsProduct">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="feight_template_id" property="feightTemplateId" />
        <result column="product_attribute_category_id" property="productAttributeCategoryId" />
        <result column="name" property="name" />
        <result column="pic" property="pic" />
        <result column="product_sn" property="productSn" />
        <result column="delete_status" property="deleteStatus" />
        <result column="publish_status" property="publishStatus" />
        <result column="new_status" property="newStatus" />
        <result column="recommand_status" property="recommandStatus" />
        <result column="verify_status" property="verifyStatus" />
        <result column="sort" property="sort" />
        <result column="sale" property="sale" />
        <result column="price" property="price" />
        <result column="promotion_price" property="promotionPrice" />
        <result column="gift_growth" property="giftGrowth" />
        <result column="gift_point" property="giftPoint" />
        <result column="use_point_limit" property="usePointLimit" />
        <result column="sub_title" property="subTitle" />
        <result column="description" property="description" />
        <result column="original_price" property="originalPrice" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="unit" property="unit" />
        <result column="weight" property="weight" />
        <result column="preview_status" property="previewStatus" />
        <result column="service_ids" property="serviceIds" />
        <result column="keywords" property="keywords" />
        <result column="note" property="note" />
        <result column="album_pics" property="albumPics" />
        <result column="detail_title" property="detailTitle" />
        <result column="detail_desc" property="detailDesc" />
        <result column="detail_html" property="detailHtml" />
        <result column="detail_mobile_html" property="detailMobileHtml" />
        <result column="promotion_start_time" property="promotionStartTime" />
        <result column="promotion_end_time" property="promotionEndTime" />
        <result column="promotion_per_limit" property="promotionPerLimit" />
        <result column="promotion_type" property="promotionType" />
        <result column="brand_name" property="brandName" />
        <result column="product_category_name" property="productCategoryName" />
    </resultMap>

    <!-- 表名称 -->
    <sql id="Table_Name">
        pms_product
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand_id, product_category_id, feight_template_id, product_attribute_category_id, name, pic, product_sn, delete_status, publish_status, new_status, recommand_status, verify_status, sort, sale, price, promotion_price, gift_growth, gift_point, use_point_limit, sub_title, description, original_price, stock, low_stock, unit, weight, preview_status, service_ids, keywords, note, album_pics, detail_title, detail_desc, detail_html, detail_mobile_html, promotion_start_time, promotion_end_time, promotion_per_limit, promotion_type, brand_name, product_category_name
    </sql>

    <sql id="Where_Trim">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="brandId != null">
                AND brand_id = #{brandId}
            </if>
            <if test="productCategoryId != null">
                AND product_category_id = #{productCategoryId}
            </if>
            <if test="feightTemplateId != null">
                AND feight_template_id = #{feightTemplateId}
            </if>
            <if test="productAttributeCategoryId != null">
                AND product_attribute_category_id = #{productAttributeCategoryId}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="pic != null and pic != ''">
                AND pic = #{pic}
            </if>
            <if test="productSn != null and productSn != ''">
                AND product_sn = #{productSn}
            </if>
            <if test="deleteStatus != null">
                AND delete_status = #{deleteStatus}
            </if>
            <if test="publishStatus != null">
                AND publish_status = #{publishStatus}
            </if>
            <if test="newStatus != null">
                AND new_status = #{newStatus}
            </if>
            <if test="recommandStatus != null">
                AND recommand_status = #{recommandStatus}
            </if>
            <if test="verifyStatus != null">
                AND verify_status = #{verifyStatus}
            </if>
            <if test="sort != null">
                AND sort = #{sort}
            </if>
            <if test="sale != null">
                AND sale = #{sale}
            </if>
            <if test="price != null">
                AND price = #{price}
            </if>
            <if test="promotionPrice != null">
                AND promotion_price = #{promotionPrice}
            </if>
            <if test="giftGrowth != null">
                AND gift_growth = #{giftGrowth}
            </if>
            <if test="giftPoint != null">
                AND gift_point = #{giftPoint}
            </if>
            <if test="usePointLimit != null">
                AND use_point_limit = #{usePointLimit}
            </if>
            <if test="subTitle != null and subTitle != ''">
                AND sub_title = #{subTitle}
            </if>
            <if test="description != null">
                AND description = #{description}
            </if>
            <if test="originalPrice != null">
                AND original_price = #{originalPrice}
            </if>
            <if test="stock != null">
                AND stock = #{stock}
            </if>
            <if test="lowStock != null">
                AND low_stock = #{lowStock}
            </if>
            <if test="unit != null and unit != ''">
                AND unit = #{unit}
            </if>
            <if test="weight != null">
                AND weight = #{weight}
            </if>
            <if test="previewStatus != null">
                AND preview_status = #{previewStatus}
            </if>
            <if test="serviceIds != null and serviceIds != ''">
                AND service_ids = #{serviceIds}
            </if>
            <if test="keywords != null and keywords != ''">
                AND keywords = #{keywords}
            </if>
            <if test="note != null and note != ''">
                AND note = #{note}
            </if>
            <if test="albumPics != null and albumPics != ''">
                AND album_pics = #{albumPics}
            </if>
            <if test="detailTitle != null and detailTitle != ''">
                AND detail_title = #{detailTitle}
            </if>
            <if test="detailDesc != null">
                AND detail_desc = #{detailDesc}
            </if>
            <if test="detailHtml != null">
                AND detail_html = #{detailHtml}
            </if>
            <if test="detailMobileHtml != null">
                AND detail_mobile_html = #{detailMobileHtml}
            </if>
            <if test="promotionStartTime != null">
                AND promotion_start_time = #{promotionStartTime}
            </if>
            <if test="promotionEndTime != null">
                AND promotion_end_time = #{promotionEndTime}
            </if>
            <if test="promotionPerLimit != null">
                AND promotion_per_limit = #{promotionPerLimit}
            </if>
            <if test="promotionType != null">
                AND promotion_type = #{promotionType}
            </if>
            <if test="brandName != null and brandName != ''">
                AND brand_name = #{brandName}
            </if>
            <if test="productCategoryName != null and productCategoryName != ''">
                AND product_category_name = #{productCategoryName}
            </if>
        </trim>
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" parameterType="com.sagacity.entity.PmsProduct">
        INSERT INTO <include refid="Table_Name" />(
        <trim suffixOverrides=",">
                id,
                brand_id,
                product_category_id,
                feight_template_id,
                product_attribute_category_id,
                name,
                pic,
                product_sn,
                delete_status,
                publish_status,
                new_status,
                recommand_status,
                verify_status,
                sort,
                sale,
                price,
                promotion_price,
                gift_growth,
                gift_point,
                use_point_limit,
                sub_title,
                description,
                original_price,
                stock,
                low_stock,
                unit,
                weight,
                preview_status,
                service_ids,
                keywords,
                note,
                album_pics,
                detail_title,
                detail_desc,
                detail_html,
                detail_mobile_html,
                promotion_start_time,
                promotion_end_time,
                promotion_per_limit,
                promotion_type,
                brand_name,
                product_category_name,
        </trim>
        ) VALUE (
        <trim suffixOverrides=",">
                #{id},
                #{brandId},
                #{productCategoryId},
                #{feightTemplateId},
                #{productAttributeCategoryId},
                #{name},
                #{pic},
                #{productSn},
                #{deleteStatus},
                #{publishStatus},
                #{newStatus},
                #{recommandStatus},
                #{verifyStatus},
                #{sort},
                #{sale},
                #{price},
                #{promotionPrice},
                #{giftGrowth},
                #{giftPoint},
                #{usePointLimit},
                #{subTitle},
                #{description},
                #{originalPrice},
                #{stock},
                #{lowStock},
                #{unit},
                #{weight},
                #{previewStatus},
                #{serviceIds},
                #{keywords},
                #{note},
                #{albumPics},
                #{detailTitle},
                #{detailDesc},
                #{detailHtml},
                #{detailMobileHtml},
                #{promotionStartTime},
                #{promotionEndTime},
                #{promotionPerLimit},
                #{promotionType},
                #{brandName},
                #{productCategoryName},
        </trim>
        )
    </insert>

    <!-- 列表查询 -->
    <select id="selectList" resultMap="BaseResultMap" parameterType="com.sagacity.entity.PmsProduct">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询条数 -->
    <select id="selectCount" parameterType="com.sagacity.entity.PmsProduct" resultType="long">
        SELECT
            COUNT(*)
        FROM
        <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询符合条件的单条数据 -->
    <select id="selectOne" parameterType="com.sagacity.entity.PmsProduct" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
        LIMIT 1
    </select>

    <!-- 通过ID批量查询 -->
    <select id="selectBatchIds" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <foreach item="id" index="index" collection="idList"
                 open="WHERE id in (" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 通过主键ID查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        WHERE id = #{id}
    </select>

    <!-- 通过主键ID选择更新数据 -->
    <update id="updateById" parameterType="com.sagacity.entity.PmsProduct">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
             <if test="brandId != null">
                brand_id = #{brandId},
            </if>
             <if test="productCategoryId != null">
                product_category_id = #{productCategoryId},
            </if>
             <if test="feightTemplateId != null">
                feight_template_id = #{feightTemplateId},
            </if>
             <if test="productAttributeCategoryId != null">
                product_attribute_category_id = #{productAttributeCategoryId},
            </if>
             <if test="name != null and name != ''">
                name = #{name},
            </if>
             <if test="pic != null and pic != ''">
                pic = #{pic},
            </if>
             <if test="productSn != null and productSn != ''">
                product_sn = #{productSn},
            </if>
             <if test="deleteStatus != null">
                delete_status = #{deleteStatus},
            </if>
             <if test="publishStatus != null">
                publish_status = #{publishStatus},
            </if>
             <if test="newStatus != null">
                new_status = #{newStatus},
            </if>
             <if test="recommandStatus != null">
                recommand_status = #{recommandStatus},
            </if>
             <if test="verifyStatus != null">
                verify_status = #{verifyStatus},
            </if>
             <if test="sort != null">
                sort = #{sort},
            </if>
             <if test="sale != null">
                sale = #{sale},
            </if>
             <if test="price != null">
                price = #{price},
            </if>
             <if test="promotionPrice != null">
                promotion_price = #{promotionPrice},
            </if>
             <if test="giftGrowth != null">
                gift_growth = #{giftGrowth},
            </if>
             <if test="giftPoint != null">
                gift_point = #{giftPoint},
            </if>
             <if test="usePointLimit != null">
                use_point_limit = #{usePointLimit},
            </if>
             <if test="subTitle != null and subTitle != ''">
                sub_title = #{subTitle},
            </if>
             <if test="description != null">
                description = #{description},
            </if>
             <if test="originalPrice != null">
                original_price = #{originalPrice},
            </if>
             <if test="stock != null">
                stock = #{stock},
            </if>
             <if test="lowStock != null">
                low_stock = #{lowStock},
            </if>
             <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
             <if test="weight != null">
                weight = #{weight},
            </if>
             <if test="previewStatus != null">
                preview_status = #{previewStatus},
            </if>
             <if test="serviceIds != null and serviceIds != ''">
                service_ids = #{serviceIds},
            </if>
             <if test="keywords != null and keywords != ''">
                keywords = #{keywords},
            </if>
             <if test="note != null and note != ''">
                note = #{note},
            </if>
             <if test="albumPics != null and albumPics != ''">
                album_pics = #{albumPics},
            </if>
             <if test="detailTitle != null and detailTitle != ''">
                detail_title = #{detailTitle},
            </if>
             <if test="detailDesc != null">
                detail_desc = #{detailDesc},
            </if>
             <if test="detailHtml != null">
                detail_html = #{detailHtml},
            </if>
             <if test="detailMobileHtml != null">
                detail_mobile_html = #{detailMobileHtml},
            </if>
             <if test="promotionStartTime != null">
                promotion_start_time = #{promotionStartTime},
            </if>
             <if test="promotionEndTime != null">
                promotion_end_time = #{promotionEndTime},
            </if>
             <if test="promotionPerLimit != null">
                promotion_per_limit = #{promotionPerLimit},
            </if>
             <if test="promotionType != null">
                promotion_type = #{promotionType},
            </if>
             <if test="brandName != null and brandName != ''">
                brand_name = #{brandName},
            </if>
             <if test="productCategoryName != null and productCategoryName != ''">
                product_category_name = #{productCategoryName},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 根据ID逻辑删除 -->
    <update id="disable" parameterType="com.sagacity.entity.PmsProduct">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="traceId != null and traceId != ''">
                trace_id = #{traceId},
            </if>
            <if test="modifyBy != null and modifyBy != ''">
                modify_by = #{modifyBy},
            </if>
            <if test="activeFlag != null">
                active_flag = #{activeFlag},
            </if>
        </trim>
        WHERE id = #{id}
    </update>





</mapper>
