<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagacity.mapper.SmsCouponHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sagacity.entity.SmsCouponHistory">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="member_id" property="memberId" />
        <result column="coupon_code" property="couponCode" />
        <result column="member_nickname" property="memberNickname" />
        <result column="get_type" property="getType" />
        <result column="create_time" property="createTime" />
        <result column="use_status" property="useStatus" />
        <result column="use_time" property="useTime" />
        <result column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
    </resultMap>

    <!-- 表名称 -->
    <sql id="Table_Name">
        sms_coupon_history
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, member_id, coupon_code, member_nickname, get_type, create_time, use_status, use_time, order_id, order_sn
    </sql>

    <sql id="Where_Trim">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="couponId != null">
                AND coupon_id = #{couponId}
            </if>
            <if test="memberId != null">
                AND member_id = #{memberId}
            </if>
            <if test="couponCode != null and couponCode != ''">
                AND coupon_code = #{couponCode}
            </if>
            <if test="memberNickname != null and memberNickname != ''">
                AND member_nickname = #{memberNickname}
            </if>
            <if test="getType != null">
                AND get_type = #{getType}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="useStatus != null">
                AND use_status = #{useStatus}
            </if>
            <if test="useTime != null">
                AND use_time = #{useTime}
            </if>
            <if test="orderId != null">
                AND order_id = #{orderId}
            </if>
            <if test="orderSn != null and orderSn != ''">
                AND order_sn = #{orderSn}
            </if>
        </trim>
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" parameterType="com.sagacity.entity.SmsCouponHistory">
        INSERT INTO <include refid="Table_Name" />(
        <trim suffixOverrides=",">
                id,
                coupon_id,
                member_id,
                coupon_code,
                member_nickname,
                get_type,
                create_time,
                use_status,
                use_time,
                order_id,
                order_sn,
        </trim>
        ) VALUE (
        <trim suffixOverrides=",">
                #{id},
                #{couponId},
                #{memberId},
                #{couponCode},
                #{memberNickname},
                #{getType},
                #{createTime},
                #{useStatus},
                #{useTime},
                #{orderId},
                #{orderSn},
        </trim>
        )
    </insert>

    <!-- 列表查询 -->
    <select id="selectList" resultMap="BaseResultMap" parameterType="com.sagacity.entity.SmsCouponHistory">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询条数 -->
    <select id="selectCount" parameterType="com.sagacity.entity.SmsCouponHistory" resultType="long">
        SELECT
            COUNT(*)
        FROM
        <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询符合条件的单条数据 -->
    <select id="selectOne" parameterType="com.sagacity.entity.SmsCouponHistory" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
        LIMIT 1
    </select>

    <!-- 通过ID批量查询 -->
    <select id="selectBatchIds" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <foreach item="id" index="index" collection="idList"
                 open="WHERE id in (" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 通过主键ID查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        WHERE id = #{id}
    </select>

    <!-- 通过主键ID选择更新数据 -->
    <update id="updateById" parameterType="com.sagacity.entity.SmsCouponHistory">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
             <if test="couponId != null">
                coupon_id = #{couponId},
            </if>
             <if test="memberId != null">
                member_id = #{memberId},
            </if>
             <if test="couponCode != null and couponCode != ''">
                coupon_code = #{couponCode},
            </if>
             <if test="memberNickname != null and memberNickname != ''">
                member_nickname = #{memberNickname},
            </if>
             <if test="getType != null">
                get_type = #{getType},
            </if>
             <if test="createTime != null">
                create_time = #{createTime},
            </if>
             <if test="useStatus != null">
                use_status = #{useStatus},
            </if>
             <if test="useTime != null">
                use_time = #{useTime},
            </if>
             <if test="orderId != null">
                order_id = #{orderId},
            </if>
             <if test="orderSn != null and orderSn != ''">
                order_sn = #{orderSn},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 根据ID逻辑删除 -->
    <update id="disable" parameterType="com.sagacity.entity.SmsCouponHistory">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="traceId != null and traceId != ''">
                trace_id = #{traceId},
            </if>
            <if test="modifyBy != null and modifyBy != ''">
                modify_by = #{modifyBy},
            </if>
            <if test="activeFlag != null">
                active_flag = #{activeFlag},
            </if>
        </trim>
        WHERE id = #{id}
    </update>





</mapper>
